*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: ‘Whitney’, sans-serif;
    font-size: 100%;
}
body{width: 100%;}

/* Header */
header{
    background-image: url(img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.header{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    line-height: 7em;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.col-ex{
    width: 20%

}
.col-center{
    width: 60%;
}
.col-ex, .col-center{
    float:left
}
nav li{
    display: inline-block;
    margin-right: 1em;
}
a{
    text-decoration: none;
    list-style-type: none;
    color: white;
}
#logo{
    vertical-align: middle;
    max-width: 100%;
}

/* Pulsanti */
.shape{
    width: 5em;
    height: 2.5em;
    background-color: white;
    border-radius: 50px;
    border: none;
    font-size: 0.7em;
    font-weight: 600;
}
.shape:hover, .shape:active, .shape:focus {
    color: #3161e0;
    cursor: pointer;
    text-decoration: underline;
}
.light-button{
    width: 12em;
    font-size: 1em;
    height: 3em;
}
.dark-button{
    background-color: 
    #23272a;
    color: white;
    width: 17em;
    font-size: 1em;
    height: 3em;
}
/* Testi */
.main-title{
    text-align: center;
    max-width: 60%;
    margin: 0 auto;
    padding: 4em 0;
}
.main-title>p{
    color: white;
    line-height: 1.5em;
    font-size: 1em;
    padding: 2em;
}
h1{
    color: white;
    font-size: 3em;  
}
h2{
    padding: 0 2em;
    font-size: 3em;
}
.last-section{
    text-align: center;
    font-size: 2.5em;
}
/* Sezione */
section{
    width:80%;
    margin: 10em auto;
}
.img-col, .text-col{
    float:left;
    width: 50%;
}
.img-col>img, .text-col{
    max-width: 100%;
}
.img-col{ text-align: center;}
.caption{
    font-size: 1.2em;
    margin-top: 1.5em;
    padding: 0 5em;
}
.bg{
    width: 100%;
    background-color: beige;
    padding: 5em 0;
}
section:last-child>p{
    text-align: center;
    font-size: 1.1em;
}
.last-img{
    max-width: 100%;
    text-align: center;
}