*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: ‘Whitney’, sans-serif;
    font-size: 100%;
}
body{width: 100%;}

/* Header */
header{
    background-image: url(img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.header{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    line-height: 7em;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.col-ex{
    width: 20%

}
.col-center{
    width: 60%;
}
.col-ex, .col-center{
    float:left
}
nav li{
    display: inline-block;
    margin-right: 1em;
}
a{
    text-decoration: none;
    list-style-type: none;
    color: white;
}
#logo{
    vertical-align: middle;
    max-width: 100%;
}

/* Pulsanti */
.shape{
    width: 5em;
    height: 2.5em;
    background-color: white;
    border-radius: 50px;
    border: none;
    font-size: 0.7em;
    font-weight: 600;
}
.shape:hover, .shape:active, .shape:focus {
    color: #3161e0;
    cursor: pointer;
    text-decoration: underline;
}